<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Database Interface</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
	<div class="sidenav">
		<a href="/">Home</a>
		{{ range . }}
			<button class="dropdown-btn">{{.DBName}}
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-container">
				{{ with .TblNames }}
					{{with .Column }}
						{{ range . }}
							<a href="/table/{{.Cat}}/{{ .BackName }}/1">{{ .Content }}</a>
						{{ end }}
					{{ end }}
				{{ end }}
			
			</div>
		{{ end }}
		<a href="/logout/">Logout</a>
		<a href="/import/">Import</a>
		<a href="/bulkadd/">Bulk Add</a>
		<a href="/export/">Export</a>

	</div>
	<div class="main">

		<div class="tables">
			<form action="/download/" method="post" id="table-input">
				<select name="tablename">
						{{ range . }}
							{{ with .TblNames }}
								{{with .Column }}
									{{ range . }}
											<option value="{{ .BackName }}">{{ .Content}} ({{ .Cat }})</option>
									{{ end }}
								{{ end }}
							{{ end }}
						{{ end }}
				</select>
		
				<input type="text" value="Enter Search Term (optional)" name="searchterm"/>				
				<br><br>			  
				<input type="submit" value="Submit" />
			</form>
		</div>
	</div>
	<script>
		/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
		var dropdown = document.getElementsByClassName("dropdown-btn");
		var i;
		
		for (i = 0; i < dropdown.length; i++) {
		  dropdown[i].addEventListener("click", function() {
		  this.classList.toggle("active");
		  var dropdownContent = this.nextElementSibling;
		  if (dropdownContent.style.display === "block") {
		  dropdownContent.style.display = "none";
		  } else {
		  dropdownContent.style.display = "block";
		  }
		  });
		}
	</script>
		
</body>
</html>
