<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>Database Interface</title>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <link rel="stylesheet" href="/css/styles.css">

	</head>
	<body>

		<div class="sidenav">
			<a href="/">Home</a>
			{{with .TblNames }}
				{{ range . }}
						<button class="dropdown-btn">{{.DBName}}
							<i class="fa fa-caret-down"></i>
						</button>
						<div class="dropdown-container">
							{{ with .TblNames }}
								{{with .Column }}
									{{ range . }}
										<a href="/table/{{.Cat}}/{{ .BackName }}/1">{{ .Content }}</a>
									{{ end }}
								{{ end }}
							{{ end }}
						</div>
				{{ end }}
			{{ end }}
			<a href="/logout/">Logout</a>
		</div>
	
		<div class="main">
			<div class="tables">
				{{with .Tbls }}
					<h2>
						{{ .Name }} 
					</h2>
					<form action="/search/{{.Type}}/{{ .BackName }}" method="post" id="table-input">
						<input type="text" name="searchValue" placeholder="Search..">
						<input type="submit" value="Submit">
					</form>
		
					<table>
						<tr>
						{{with .Titles }}
							{{ range . }}
								
								<th onclick='window.location.href = "/sort/"+{{.Type}} +"/"+{{.Name}}+"/"+{{.Cont}} ;'>{{ .Cont }}</th>
							{{ end }}
						{{ end }}
						</tr>
						{{ with .Rows }}
							{{ range . }}
								<tr onclick='window.location.href = "/rec/{{.Type}}/{{.ID}}" ;'>
									{{ with .Column }}
										{{ range . }}
											<td>{{ .Content }}</td>
										{{ end }}
									{{ end }}
								</tr>
							{{ end }} 
						{{ end }}
					</table>
				{{ end }}
				<br>
				{{with .Tbls }}
					{{if eq .Last 0}}
						
					{{else}}
						<button type="button" onclick='window.location.href = "/table/" + {{ .Type }} + "/" + {{ .BackName }} + "/" + parseInt({{ .Last }}) ;'>Previous Page</button>
					{{end}}
					<button type="button" onclick='window.location.href = "/table/" + {{ .Type }} + "/" + {{ .BackName }} + "/" + parseInt({{ .Page }}) ;'>Next Page</button>
					<button type="button" onclick='window.location.href = "/new/" + {{ .Type }} + "/" + {{ .BackName }} ;'>New Item</button>
				{{ end }}

			</div>
		</div>
		<script>
			/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
			var dropdown = document.getElementsByClassName("dropdown-btn");
			var i;
			
			for (i = 0; i < dropdown.length; i++) {
			  dropdown[i].addEventListener("click", function() {
			  this.classList.toggle("active");
			  var dropdownContent = this.nextElementSibling;
			  if (dropdownContent.style.display === "block") {
			  dropdownContent.style.display = "none";
			  } else {
			  dropdownContent.style.display = "block";
			  }
			  });
			}
		</script>
	
	</body>
</html>